<footer class="pt-5 pb-2">
  <small>
    &copy; Florence Grard . SIREN : 879 892 040 . Tous droits réservés
  </small>
    <div class="d-flex justify-content-evenly pt-3 pb-3">
      <a href="https://www.facebook.com/flogrardphotographie" title="Page facebook"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/flogrard_photographie" title="Page instagram"><i class="fa-brands fa-instagram"></i></a>
    </div>
</footer>
